.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

.main {
    flex: 1;
    padding: var(--space-2xl);
    background-color: var(--gray-50);
}